extends layout
block content
	div(class="w3-auto")
		h3=title
		p.
			Scoutradioz uses a small number of cookies in order to save your preferences without needing to log in. We do <b>not</b> use any third party cookies,
			tracking cookies, or analytics cookies. Below is a list of all things we use cookies for:
		ul(class="w3-left-align")
			li Currently selected scouting organization
			li Whether the cookie notification message has been accepted
			li Report Columns preferences